.cage{
	display: flex;
	font-size: 0;
	margin: 0%;
	padding: 35px 11% 0px 11%;
	text-align: left;
	width: 100%;
}
.grid{
	color: currentColor;
	margin-bottom: -10px;
}
.left-hand{
	display: block;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	position: relative;
	width: 38%;
}
.left-hand img{
	width: 100%;
}
.post {
	color: white;
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 18px;
}
.f-w{
	font-size: 17px;
	font-weight: bold;
}
.f{
	font-size: 13px;
	font-weight: thin;
}
.topic{
	margin: 0;
	padding: 15px 20px;
}
span{
	color: white;
}
.hover\/c\:white:hover {
    color: #FFF;
}
.bg\:black\.5, .hover\/bg\:black\.5:hover {
    background-color: rgba(17,17,17,.5);
}
.right-hand{
	display: inline-block;
	margin: 0 1.2rem;
	padding: 0;
	width: 40%;
	text-align: left;
	vertical-align: baseline;
	position: relative;
}
.setting-size{
	display: inline-flex;
	margin: 0 -.4rem;
	flex-flow: row wrap;
	font-size: 0;
	padding: 0;
	text-align: left;
}
.house{
	display: flex;
	font-size: 1rem;
	margin: 0 0.4rem;
	width: 45%;
	line-height: 1.3;
	box-sizing: border-box;
	background-color: #FFF;
}
.house img{
	width: 100%;
}
.backgrd{
	width: 100%!important;
	position: relative;
}


.right-topic{
	margin-bottom: .6944rem!important;
	font-size: 20px;
	color: #333;
	font-weight: bold;
	padding: 0 16px;
}
.exp{
	font-size: 15px;
	color: #333;
	font-weight: 300;
	padding: 0 16px 16px 16px;
}
a{
	text-decoration: none;
	color: black;
}
@media only screen and ( max-width: 1000px){
	.cage{
		background-image: none!important;
		display: block;
		margin: 0;
		padding: 0;
	}
	.left-hand{
		width: 100%;
		margin-bottom: 30px;
	}
	.post{
		font-size: 30px;
	}
	.f-w{
		font-size: 12px;
	}
	.f{
		font-size: 11px;
	}
	.right-hand{
		width: 100%;
		margin: 0;
		padding: 0 3%;
	}
	.house{
		padding:0;
		margin: 1%;
	}
	.backgrd{
		display: inline-flex;
		width: 100%;
	}
	.backgrd img{
		width: 50%;
		height: 100%;
	}
	.right-topic{
		font-size: 15px;
	}
	p{
		display: none;
	}
}
@media only screen and ( max-width: 700px){
	.right-hand{
		display: inline-block;
		float: right;
		padding: 0;
	}
	.house{
		margin-left: 1.2rem;
		width: 100%;
		padding: 0;
	}
	.backgrd{
		padding: 0.5% 0;
		width: 200%;
	}
	.backgrd img{
		width: 30%;
	}
	.right-topic{
		font-size: 18px;
	}
}